<template>
  <div class="login">
    <el-form :model="loginForm" label-width="120px">
      <el-form-item label="Login">
        <el-input v-model="loginForm.username"></el-input>
      </el-form-item>
      <el-form-item label="Password">
        <el-input v-model="loginForm.password" show-password/>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">Login</el-button>
        <el-button>Cancel</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import LoginEntity from '@/entity/LoginEntity';
import store from '@/store';

export default defineComponent({
  name: 'Login',
  components: {
  },
  data() {
    return {
      loginForm: {
        username: '',
        password: '',
      } as LoginEntity,
    };
  },
  methods: {
    onSubmit() {
      store.dispatch('login', this.loginForm);
    },
  },
});
</script>
