<template>
  <div class="user">
    <el-form>
      <el-form-item>
        <span>
          User id: {{user.id}}
        </span>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onGetCurrentUser">Get user</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';
import store from '@/store';

export default defineComponent({
  name: 'User',
  props: {
    msg: String,
  },
  setup() {
    const user = computed(() => {
      console.log('aaaa', store.state.user);
      return store.state.user;
    });
    return {
      user,
    };
  },
  methods: {
    async onGetCurrentUser() {
      await store.dispatch('fetchCurrentUser');
    },
  },
});
</script>

<style scoped lang="scss">
</style>
